//testo grigio
$greyText:#919194;

//sfondo BlueLaggon pulsanti e testo
$BlueLagoon:#048383 ;
//blueLagoon Light
$BlueLagoonLight: #1da6a9;

//sfondo chiaro delle sezioni
$LightBg: #eef4ed;

//testo scuro titoli
$darkTitle:#21333e;